<!DOCTYPE html>
<html lang="en" xmlns:security="http://www.w3.org/1999/xhtml">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" >Pogodyńka</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a th:href="@{/clients}">Pogoda Now</a>
            </li>
            <li>
                <a th:href="@{/products}">Forecast</a>
            </li>
            <li>
                <a th:href="@{/visits}">Historia</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>