<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Handling Form Submission</title>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url("searching.png");
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
             -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

        form {
            text-align: center;
        }

        input[type=text]:focus {
            width: 100%;
        }
    </style>
</head>
<!--<body>-->

<!--<p>Animated search form:</p>-->

<!--<form action="conferenceWeather" method="get">-->
    <!--<input type="text" name="city" id="city" placeholder="Search..">-->
    <!--<input type="submit" value="Submit">-->
<!--</form>-->



<!--</body>-->



<body onload="myFunc()">



<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="panel-group" style="margin-top:30px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <!--<span th:utext="${userName}"></span>-->
                <h1>Wyszukaj pogode dla miasta</h1>
            </div>
            <div class="panel-body">
                <!--<img th:src="@{/images/beer.jpg}" class="img-responsive center-block" width="400" height="400" alt="Beer" />-->
                <form action="#" th:action="@{/}" th:object="${city}" method="post">
                    <p>City: <input type="text" th:field="*{name}" th:name="name" /></p>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

                </form>
            </div>
            <!--<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>-->
            <!--<p class="admin-message-text text-center" th:utext="${successMessage}"></p>-->
        </div>
    </div>

</div>

<!--<h1>Wyszukaj pogode dla miasta</h1>-->
<!--<form action="#" th:action="@{/}" th:object="${city}" method="post">-->
    <!--<p>City: <input type="text" th:field="*{name}" th:name="name" /></p>-->
    <!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->

<!--</form>-->

<p id="demo"> duuupa</p>

<script>

//wyslac do kontrolera
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(showPosition);


        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";

        }
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
        debugger;
    }
    function myFunc()
    {
        myVar = setTimeout(getLocation(),500);
    }
</script>
</body>

</html>